{% extends '../layout/default.njk' %}

{% block body %}
<div class="dr-container">
  <main>
    <h1>{{ title }}</h1>
    <p>{{ body }}</p>

    <h2>Video component</h2>
    {% component 'video' %}
  </main>
</div>
{% endblock %}
