<svg class="dr-svg-list" xmlns="http://www.w3.org/2000/svg">

  {# PLAY BUTTON #}
  <symbol id="play-button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 109.306 121.365"><defs><filter id="a" x="0" y="0" width="109.306" height="121.365" filterUnits="userSpaceOnUse"><feOffset dy="3"/><feGaussianBlur stdDeviation="3" result="blur"/><feFlood flood-opacity=".161"/><feComposite operator="in" in2="blur"/><feComposite in="SourceGraphic"/></filter></defs><g filter="url(#a)"><path data-name="Polígono 2" d="M88.01 50.72a8 8 0 010 13.924l-67.065 37.962a8 8 0 01-11.941-6.962V19.721a8 8 0 0111.941-6.962z" fill="#fff"/></g></symbol>

</svg>
