<picture class="{{ pictureClass }}" aria-hidden="true">
  <source data-srcset="{{ src }}.webp" type="image/webp">
  <source data-srcset="{{ src }}.png" type="image/png"> 
  <img data-src="{{ src }}.png" alt="{{ alt }}" class="{{ imgClass }}" >
</picture>